@font-face {
    font-family: 'sfrregular';
    src: url('sfr-1.0-regular-webfont.woff2') format('woff2'),
    url('sfr-1.0-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfrbold';
    src: url('sfr-1.0-bold-webfont.woff2') format('woff2'),
    url('sfr-1.0-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
body{
    font: 400 16px/1.3 'sfrregular', sans-serif;
}
h2{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
:root{
    --rouge: #D90011;
    --noir: #000000;
    --gris: #D1D2D4;
    --blanc:#FFF
}
.wrap{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2{
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3{
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.bigwrap{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/*HEADER*/
#masthead .wrap{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
}
#masthead .wrap .header_sfr{
    width: 170px;
}
#masthead .wrap .header_sfr a{
    display: inline-block;
    transition: all .3s;
}
#masthead .wrap .header_sfr a:hover{
    transform: scale(1.1);
}
#masthead .wrap .header_lien{
    display: flex;
    gap: 3rem;
}
#masthead .wrap .header_lien img{
    height: 50px;
}
#masthead .wrap .header_lien a{
    color: var(--noir);
    display: inline-block;
    transition: all 0.3s;
}
#masthead .wrap .header_lien a:hover{
    transform: scale(1.3);
    opacity: .6;
}
#masthead .wrap .header_lien a p{
    text-align: center;
}
/*FOOTER*/

#colophon{
    background-color: var(--noir);
    padding: 3rem 0 7rem 0;
}
#colophon .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colophon .wrap .footer_img{
    transition: all .3s;
}

/*FOOTER*/

#colophon .wrap .footer_img:hover{
    transform: scale(1.5);
}
#colophon .wrap ul{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-top: 1rem;
}
#colophon .wrap ul .barre{
    width: 1px;
    height: 1.2rem;
    background-color: var(--blanc);
}

#colophon .wrap ul a{
    color: var(--blanc);
    display: inline-block;
    transition: all .3s;
    padding-bottom: .5rem;
}
#colophon .wrap ul a:hover{
    transform: scale(1.2);
    border-bottom: 2px solid var(--blanc);
}

/*PAGE HOME OFFRE*/

#offre .wrap2{
    padding-top: 7rem;
}
#offre .wrap2 .offre_text{
    text-align: center;
    padding-bottom: 4rem;
}

#offre .wrap2 .offre_text p{
    font-weight: bold;
}

/*PROFILS*/

#profil .wrap2{
    padding: 3rem 0 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profil .wrap2 .profil_display{
    display: flex;
}
#profil .wrap2 .profil_display .profil_text{
    width: 50%;
    background-color: var(--gris);
    font-size: .8rem;
    padding: 2rem 2rem;
    font-weight: bold;
}
#profil .wrap2 .profil_display .profil_text h3{
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
#profil .wrap2 .profil_display .profil_img{
    width: 50%;
}
#profil .wrap2 .profil_display .profil_img img{
    height: 100%;
}
#profil .wrap2 .profil_techno{
    padding-top: 2rem;
}
/*PAGE CONTACT*/

#formulaire .bigwrap{
    position: relative;
}
#formulaire .bigwrap .bordure{
    position: absolute;
    top: 10vw;
    left: 10vw;
    border: solid white;
    box-shadow: 0px 0px 15px 7px rgba(255,255,255,1);

}
#formulaire .bigwrap .bordure .transparent{
    width: 18vw;
    height: 18vw;
    background-color: transparent;
}
#formulaire .bigwrap .bordure .transparent h2{
    opacity: 1;
    z-index: 2;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 5vw;
    font-size: 2.7vw;
}
#formulaire .wrap3{
    padding-top: 4rem;
    padding-bottom: 7rem;
}
#formulaire .wrap3 h2{
    text-align: center;
    color: green;
}
#formulaire .wrap3 form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
#formulaire .wrap3 form .input_css{
    display: flex;
    flex-direction: column;
}
#formulaire .wrap3 form .input_css span{
    color: red;
}
#formulaire .wrap3 form input, #formulaire .wrap3 form textarea{
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
}
#formulaire .wrap3 form .contact_email input{
    width: 70%;
    padding: .5rem 1rem .5rem 1rem;
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
    border: 1px solid rgba(128,128,128, .7);
}
#formulaire .wrap3 form .contact_message textarea{
    width: 100%;
    height: 10rem;
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
    resize: vertical ;
    min-height: 2rem;
    max-height: 40rem;
    border: 1px solid rgba(128,128,128, .7);
    );

}
#formulaire .wrap3 form .contact_message textarea::placeholder{
    padding: .5rem 1rem;
}
#formulaire .wrap3 form ::placeholder{
    color: var(--noir);
    font-weight: bold;
    font-size: .9rem;
}
#formulaire .wrap3 form .submit input{
    padding: .7rem;
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid rgba(128,128,128, .7);
}
#formulaire .wrap3 form .submit input:hover{
    transform: scale(1.2);
    border-radius: 10px;
}

/*MESSAGE*/

#message{
    padding: 4rem 0 12rem 0;
}
#message .wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#message .wrap .listing_message{
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: all .3s;
}
#message .wrap .listing_message:hover{
    transform: scale(1.02);
}
#message .wrap .listing_message a{
    color: red;
    display: inline-block;
    transition: all .3s;
}
#message .wrap .listing_message a:hover{
    opacity: .6;
}
/*DETAILS*/
#detail{
    padding: 3rem 0 7rem 0;
}
#detail .wrap .detail_message{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 7rem 1rem;
    box-shadow: 0px 4px 11px 7px rgba(0,0,0,0.1);
}
#detail .wrap .detail_message h1{
    color: red;
}
#detail .wrap .detail_message .date{
    font-weight: bold;
}
@media screen and (max-width: 769px) {
    #profil .wrap2 .profil_display{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #profil .wrap2 .profil_display .profil_text{
        width: 100%;
    }
    #profil .wrap2 .profil_display .profil_img{
        width: 100%;
    }
}
@media screen and (max-width: 546px){
    #masthead .wrap{
        flex-direction: column;
        gap: 2rem;
    }
    #masthead .wrap .header_sfr{
        margin: 0 auto;
    }

    #masthead .wrap .navheader{
        width: 49%;
    }
}
@media screen and (max-width: 376px){
    #colophon .wrap{
        gap: 2rem;
    }
    #colophon .wrap ul{
        display: flex;
        flex-direction: column;
    }
    #colophon .wrap ul .barre{
        display: none;
    }
    #colophon .wrap ul li{
        text-align: center;
    }
    #profil .wrap2 .profil_display .profil_text p{
        font-size: .8rem;
    }
    #formulaire .wrap3 form .input_css input{
        width: 100%;
    }
    #formulaire .wrap3 form input{
        width: 100%;
     }
    #detail .wrap .detail_message h1{
        font-size: 1.2rem;
    }
}


